
<div class="row justify-content-center">
<!-- <div class="container, justify-content-center"> -->

  <div class="col-2">
  <h3 class="session">Login Here:</h3><br>
  <span style="font-size:15px">
   <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="form-group">
        <label for="exampleInputEmail1"><%= f.label :email %></label>
        <div class="row">
         <div class="col-xs-6"><%= f.email_field :email %></div>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputPassword1"><%= f.label :password %></label>
        <div class="row">
           <div class="col-xs-6"> <%=f.password_field :password %></div>
         </div>
         <br>
      <%= f.submit "Login" %>
   <%end%>
  </span>
  </div>
</div>
<!-- </div> -->
