<div class="row justify-content-center">
<div class="col-3">
  <div class="container">
  
  <div class="card" style="width: 27rem;">
    <div class="card-body">
      <h5 class="card-title"><%=@user.name%>'s Profile</h5>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Email:</strong><%= @user.email %></h6>
      <hr>
      <p class="card-text"><%=image_tag(@user.favpic.url,size: "317x215") if @user.favpic && @user.favpic.url %></p>
      <hr>
      <% if logged_in? %>
       <% if @user == current_user %>
        <button type="button" class="btn btn text-white"><%= link_to 'New Post', new_chat_path , class: "card-link"%>
        <button type="button" class="btn btn text-white"><%= link_to 'Edit', edit_user_path(@user), class: "card-link"%>
        <button type="button" class="btn btn text-white"><%= link_to 'Delete Account', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: "card-link" %>
      <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>
</div>
