<div class="container">
  <span style="font-size:17px">
   <div class="row justify-content-center">
     <div class="col-10">
      <%=render 'shared/errors' %>
     <%=form_with(model: @chat, class:"shadow p-3 mb-3 bg-white rounded", local: true, url: choose_new_or_edit) do |form| %>
      <div class="form-group row justify-content-center">

        <%= form.label :post, class: "clo-2 col-form-label" %>
        <div class="col-10">
         <%= form.text_area :post, rows: 10, class:"form-control shadow rounded",placeholder: "Post contents" %>
         </div>
         <div class="field">
            <%= form.label :image %>
            <%= image_tag(@chat.image.url,:size => "20x18") if @chat.image && @chat.image.url %>
            <%= form.file_field :image%>
            <%= form.hidden_field :image_cache %>

          </div>
      </div>
    </span>
      <% if @chat.id.present? %>
          <div class="row justify-content-center"><%= form.submit "Update post", class:"btn btn text-white" %></div>
      <% else %>
          <div class="row justify-content-center"><%= form.submit "Create post", class:"btn btn btn text-white" %></div>
      <% end %>
    <% end %>
    <div class="row justify-content-center"><%=link_to '[Return to menu]', chats_path,class:"btn btn text-white" %></div>
  </div>
</div>
</div>
