<h3>Send with the following contents.</h3>
<%= form_with(model: @chat, url: chats_path, local: true) do |form| %>
  <%= form.hidden_field :post%>
  <p>Post:<%= @chat.post%></p>
  <%= form.submit  "Proceed" %>
  <%= form.submit "Return", name: 'back' %>
<%end%>
