<div class="container">
  <% @chats.each do |chat| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
     <div class="card text-center shadow  mb-10 bg rounded">
      <div class="card-header">
        <strong><span style="font-size:20px">
        <%=chat.user.name%>
        </span></strong>
      </div>
      <div class="card-body">
      <h5 class="Post"></h5>
      <p class="card-text"><%=truncate(chat.post, length:100) %>
        </p><br>
        <% if chat.image.url %>
          <%=image_tag chat.image.url,size: "200x180" %>
        <% end %>
        <br><br>
        <% if chat.user_id == current_user.id %>
          <%= link_to "Edit", edit_chat_path(chat.id), class: "btn btn text-white" %>
          <%= link_to "Delete", chat_path(chat.id), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <%= link_to "View", chat_path(chat), class: "btn btn text-white" %>
         <% else%>
          <%= link_to "View", chat_path(chat), class: "btn btn text-white" %>
       <% end %>
    </div>
    <div class="card-footer text-muted">
      <small> <%=time_ago_in_words(chat.created_at)%> ago </small>
    </div>
  </div>
  </div>
  </div>
  <%end%>
</div>
<br>
<br>
