<h1>Posts</h1>
<table cellpadding=10>
  <tr>
    <th>post</th>
  </tr>
<% @chats.each do |chat| %>
  <tr>
    <td><%= chat.post %></td>
    <td><%= link_to 'View', chat_path(chat.id) %></td>
    <td><%=link_to "Edit", edit_chat_path(chat.id), data:{confirm: 'Do you really edit it?' }%></td>
    <td><%=link_to'Delete', chat_path(chat.id), method: :delete, data:{confirm:'Are you sure you want to delete? '}%></td>
  </tr>
<% end %>
</table>
<%=link_to "[Create a post]", new_chat_path%>
